<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div> The {{methodNamesEnum.ENTITIES}} duration average {{methodDuration[methodNamesEnum.ENTITIES]}}, sum: {{methodDuration[methodNamesEnum.ENTITIES] * iterations}} </div>
  <div> The {{methodNamesEnum.KEYS}} duration average {{methodDuration[methodNamesEnum.KEYS]}}, sum: {{methodDuration[methodNamesEnum.KEYS] * iterations}} </div>
  <div> The {{methodNamesEnum.FORIN}} duration average {{methodDuration[methodNamesEnum.FORIN]}}, sum: {{methodDuration[methodNamesEnum.FORIN] * iterations}} </div>
  <div> The {{methodNamesEnum.GETOWP}} duration average {{methodDuration[methodNamesEnum.GETOWP]}}, sum: {{methodDuration[methodNamesEnum.GETOWP] * iterations}} </div>
  <div> The {{methodNamesEnum.VALUES}} duration average {{methodDuration[methodNamesEnum.VALUES]}}, sum: {{methodDuration[methodNamesEnum.VALUES] * iterations}} </div>
  <div> The {{methodNamesEnum.REFLECT}} duration average {{methodDuration[methodNamesEnum.REFLECT]}}, sum: {{methodDuration[methodNamesEnum.REFLECT] * iterations}} </div>
  <div> The {{methodNamesEnum.CUSTOM_ITERATOR}} duration average {{methodDuration[methodNamesEnum.CUSTOM_ITERATOR]}}, sum: {{methodDuration[methodNamesEnum.CUSTOM_ITERATOR] * iterations}} </div>
</div>

